.payment-status {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 50px rgba(145, 92, 182, .4);
    color: black;

}

.payment-status.red,
.pensopay-virtualterminal-edit table.operations tr.red {
    background: rgb(255, 40, 0);
}

.payment-status.yellow,
.pensopay-virtualterminal-edit table.operations tr.yellow {
    background: rgb(250, 218, 94);
}

.payment-status.orange,
.pensopay-virtualterminal-edit table.operations tr.orange {
    background: rgb(255, 102, 0);
}

.payment-status.green,
.pensopay-virtualterminal-edit table.operations tr.green {
    background: rgb(57, 255, 20);
}

a.payment-link {
    display: block;
    width: 100%;
    height: 100%;
}

#pensopay_virtualterminal_grid_table td {
    vertical-align: middle;
}

.pensopay-virtualterminal-edit .payment-status {
    text-align: center;
    width: calc((100%) * 0.5 - 30px);
    margin: 0 auto;
    margin-bottom: 3rem;
}

.pensopay-virtualterminal-edit table.operations {
    text-align: center;
    border: 1px solid grey;
    padding: 15px;
    border-spacing: 0;
    min-width: 400px;
    margin: 0 auto;
    width: calc((100%) * 0.5 - 30px);
}

.pensopay-virtualterminal-edit table.operations th,
.pensopay-virtualterminal-edit table.operations tr,
.pensopay-virtualterminal-edit table.operations td {
    text-align: center;
}

.pensopay-virtualterminal-edit table.operations tr:not(:first-child) {
    margin-top:5px;
}

.pensopay-virtualterminal-edit table.operations tr,
.pensopay-virtualterminal-edit table.operations td {
    padding: 10px;
    border-bottom-width: 3px;
}

.pensopay-virtualterminal-edit table.operations tr {
    display: table-row;
}

.pensopay-virtualterminal-edit div#log_fieldset table:not(.operations) td.label {
    display: none;
}