<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pensopay_gateway>
                <active>0</active>
                <title>Credit Card (pensopay)</title>
                <model>PensopayGatewayFacade</model>
                <position>0</position>
                <sort_order>1</sort_order>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <testmode>0</testmode>
                <pending_payment_order_cancel>0</pending_payment_order_cancel>
                <autocapture>0</autocapture>
                <transaction_fee>0</transaction_fee>
                <transaction_fee_label>Transaction Fee</transaction_fee_label>
                <payment_methods></payment_methods>
                <checkout_method>redirect</checkout_method>
                <privateInfoKeys></privateInfoKeys>
                <paymentInfoKeys>cc_type,cc_number,exp_month,exp_year</paymentInfoKeys>
                <cardlogos></cardlogos>
                <cardlogos_size>25</cardlogos_size>
                <new_order_status>processing</new_order_status>
            </pensopay_gateway>
            <pensopay_gateway_viabill>
                <active>0</active>
                <title>ViaBill (pensopay)</title>
                <model>PensopayGatewayViabillFacade</model>
                <position>1</position>
                <sort_order>2</sort_order>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <shop_id></shop_id>
                <instructions>Pay with ViaBill</instructions>
                <show_in_product>1</show_in_product>
                <show_in_category>1</show_in_category>
                <show_in_cart>1</show_in_cart>
                <show_in_checkout>1</show_in_checkout>
                <bundle_update_selector>.product-options-wrapper input, .product-options-wrapper select
                </bundle_update_selector>
                <configurable_update_selector>.product-add-form div.product-options-wrapper
                </configurable_update_selector>
                <catalog_update_selector>.product-item-details</catalog_update_selector>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <cardlogo_enable>1</cardlogo_enable>
                <cardlogo_size>40</cardlogo_size>
            </pensopay_gateway_viabill>
            <pensopay_gateway_anyday>
                <active>0</active>
                <title>Anyday (Pensopay)</title>
                <model>PensopayGatewayAnydayFacade</model>
                <position>2</position>
                <sort_order>3</sort_order>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <shop_id></shop_id>
                <show_in_product>1</show_in_product>
                <show_in_category>1</show_in_category>
                <show_in_cart>1</show_in_cart>
                <show_in_checkout>1</show_in_checkout>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <cardlogo_enable>1</cardlogo_enable>
                <cardlogo_size>40</cardlogo_size>
            </pensopay_gateway_anyday>
            <pensopay_gateway_mobilepay>
                <active>0</active>
                <title>MobilePay (Pensopay)</title>
                <model>PensopayGatewayMobilePayFacade</model>
                <position>3</position>
                <sort_order>4</sort_order>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <shop_id></shop_id>
                <show_in_product>1</show_in_product>
                <show_in_category>1</show_in_category>
                <show_in_cart>1</show_in_cart>
                <show_in_checkout>1</show_in_checkout>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <cardlogo_enable>1</cardlogo_enable>
                <cardlogo_size>40</cardlogo_size>
            </pensopay_gateway_mobilepay>
            <pensopay_gateway_applepay>
                <active>1</active>
                <title>ApplePay (Pensopay)</title>
                <model>PensopayGatewayApplePayFacade</model>
                <position>4</position>
                <sort_order>5</sort_order>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <shop_id></shop_id>
                <show_in_product>1</show_in_product>
                <show_in_category>1</show_in_category>
                <show_in_cart>1</show_in_cart>
                <show_in_checkout>1</show_in_checkout>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <cardlogo_enable>1</cardlogo_enable>
                <cardlogo_size>40</cardlogo_size>
            </pensopay_gateway_applepay>
            <pensopay_gateway_swish>
                <active>0</active>
                <title>Swish (Pensopay)</title>
                <model>PensopayGatewaySwishFacade</model>
                <position>5</position>
                <sort_order>6</sort_order>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <shop_id></shop_id>
                <show_in_product>1</show_in_product>
                <show_in_category>1</show_in_category>
                <show_in_cart>1</show_in_cart>
                <show_in_checkout>1</show_in_checkout>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <cardlogo_enable>1</cardlogo_enable>
                <cardlogo_size>40</cardlogo_size>
            </pensopay_gateway_swish>
            <pensopay_gateway_klarna>
                <active>0</active>
                <title>Klarna (Pensopay)</title>
                <model>PensopayGatewayKlarnaFacade</model>
                <position>6</position>
                <sort_order>7</sort_order>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <shop_id></shop_id>
                <show_in_product>1</show_in_product>
                <show_in_category>1</show_in_category>
                <show_in_cart>1</show_in_cart>
                <show_in_checkout>1</show_in_checkout>
                <allowspecific>0</allowspecific>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <cardlogo_enable>1</cardlogo_enable>
                <cardlogo_size>40</cardlogo_size>
            </pensopay_gateway_klarna>
        </payment>
        <sales>
            <totals_sort>
                <card_surcharge>31</card_surcharge>
            </totals_sort>
        </sales>
    </default>
</config>
