<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- PensoPay -->
    <virtualType name="PensoPayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\PensoPayConfigProvider::CODE</argument>
            <argument name="infoBlockType" xsi:type="string">PensoPay\Gateway\Block\Info</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="valueHandlerPool" xsi:type="object">PensoPayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PensoPayCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PensoPayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PensoPayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\PensoPayConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Viabill -->
    <virtualType name="PensoPayViabillFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\ViabillConfigProvider::CODE</argument>
            <argument name="infoBlockType" xsi:type="string">PensoPay\Gateway\Block\Info</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="valueHandlerPool" xsi:type="object">PensoPayViabillValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PensoPayCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayViabillValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PensoPayViabillConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayViabillConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PensoPayViabillConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayViabillConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\ViabillConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Mobilepay -->
    <virtualType name="PensoPayMobilePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\MobilePayConfigProvider::CODE</argument>
            <argument name="infoBlockType" xsi:type="string">PensoPay\Gateway\Block\Info</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="valueHandlerPool" xsi:type="object">PensoPayMobilePayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PensoPayCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayMobilePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PensoPayMobilePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayMobilePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PensoPayMobilePayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayMobilePayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\MobilePayConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Anyday -->
    <virtualType name="PensoPayAnydayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\AnydayConfigProvider::CODE</argument>
            <argument name="infoBlockType" xsi:type="string">PensoPay\Gateway\Block\Info</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="valueHandlerPool" xsi:type="object">PensoPayAnydayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PensoPayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">AnydayValidatorPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayAnydayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PensoPayAnydayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayAnydayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PensoPayAnydayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayAnydayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\AnydayConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="AnydayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="currency" xsi:type="string">PensoPay\Gateway\Gateway\Validator\Anyday\CurrencyValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- ApplePay -->
    <virtualType name="PensoPayApplePayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\ApplePayConfigProvider::CODE</argument>
            <argument name="infoBlockType" xsi:type="string">PensoPay\Gateway\Block\Info</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="valueHandlerPool" xsi:type="object">PensoPayApplePayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PensoPayCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayApplePayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PensoPayApplePayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayApplePayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PensoPayApplePayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayApplePayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\ApplePayConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Swish -->
    <virtualType name="PensoPaySwishFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\SwishConfigProvider::CODE</argument>
            <argument name="infoBlockType" xsi:type="string">PensoPay\Gateway\Block\Info</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="valueHandlerPool" xsi:type="object">PensoPaySwishValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PensoPayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">SwishValidatorPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPaySwishValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PensoPaySwishConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPaySwishConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PensoPaySwishConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPaySwishConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\SwishConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="SwishValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="currency" xsi:type="string">PensoPay\Gateway\Gateway\Validator\Swish\CurrencyValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Klarna -->
    <virtualType name="PensoPayKlarnaFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\KlarnaConfigProvider::CODE</argument>
            <argument name="infoBlockType" xsi:type="string">PensoPay\Gateway\Block\Info</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="valueHandlerPool" xsi:type="object">PensoPayKlarnaValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PensoPayCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayKlarnaValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PensoPayKlarnaConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayKlarnaConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PensoPayKlarnaConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PensoPayKlarnaConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PensoPay\Gateway\Model\Ui\Method\KlarnaConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="PensoPayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">PensoPayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">PensoPayCaptureCommand</item>
                <item name="cancel" xsi:type="string">PensoPayCancelCommand</item>
                <item name="refund" xsi:type="string">PensoPayRefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="PensoPayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PensoPayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">PensoPayAuthorizationHandler</argument>
            <argument name="transferFactory" xsi:type="object">PensoPay\Gateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PensoPay\Gateway\Gateway\Http\Client\TransactionAuthorize</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="PensoPayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">PensoPay\Gateway\Gateway\Request\AuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PensoPay\Gateway\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">PensoPayConfig</argument>
        </arguments>
    </type>

    <!-- Authorization Response handlers -->
    <virtualType name="PensoPayAuthorizationHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">PensoPay\Gateway\Gateway\Response\TransactionIdHandler</item>
                <item name="payment_link" xsi:type="string">PensoPay\Gateway\Gateway\Response\PaymentLinkHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Capture command -->
    <virtualType name="PensoPayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PensoPayCaptureRequest</argument>
            <argument name="handler" xsi:type="object">PensoPayCaptureHandler</argument>
            <argument name="transferFactory" xsi:type="object">PensoPay\Gateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">PensoPay\Gateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">PensoPay\Gateway\Gateway\Http\Client\TransactionCapture</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <virtualType name="PensoPayCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">PensoPay\Gateway\Gateway\Request\CaptureRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PensoPay\Gateway\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">PensoPayConfig</argument>
        </arguments>
    </type>

    <!-- Capture Response handlers -->
    <virtualType name="PensoPayCaptureHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">PensoPay\Gateway\Gateway\Response\TransactionIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Cancel command -->
    <virtualType name="PensoPayCancelCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PensoPayCancelRequest</argument>
            <argument name="handler" xsi:type="object">PensoPay\Gateway\Gateway\Response\TransactionIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">PensoPay\Gateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">PensoPay\Gateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">PensoPay\Gateway\Gateway\Http\Client\TransactionCancel</argument>
        </arguments>
    </virtualType>

    <!-- Cancel Request -->
    <virtualType name="PensoPayCancelRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">PensoPay\Gateway\Gateway\Request\CancelRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PensoPay\Gateway\Gateway\Request\CancelRequest">
        <arguments>
            <argument name="config" xsi:type="object">PensoPayConfig</argument>
        </arguments>
    </type>

    <!-- Refund Command -->
    <virtualType name="PensoPayRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PensoPayRefundRequest</argument>
            <argument name="handler" xsi:type="object">PensoPay\Gateway\Gateway\Response\TransactionIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">PensoPay\Gateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">PensoPay\Gateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">PensoPay\Gateway\Gateway\Http\Client\TransactionRefund</argument>
        </arguments>
    </virtualType>

    <virtualType name="PensoPayRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">PensoPay\Gateway\Gateway\Request\RefundRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PensoPay\Gateway\Gateway\Request\RefundRequest">
        <arguments>
            <argument name="config" xsi:type="object">PensoPayConfig</argument>
        </arguments>
    </type>

    <type name="PensoPay\Gateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">PensoPayConfig</argument>
        </arguments>
    </type>

    <!-- Around plugin to set order status -->
    <type name="Magento\Sales\Model\Order\Payment\State\CommandInterface">
        <plugin name="pensopay_set_order_status" type="PensoPay\Gateway\Plugin\Model\Order\Payment\State\CommandInterface" sortOrder="1" />
    </type>

    <!-- Virtualterminal Grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pensopay_gateway_grid_data_source" xsi:type="string">PensoPay\Gateway\Model\ResourceModel\Payment\Collection</item>
                <item name="pensopay_virtualterminal_grid_data_source" xsi:type="string">PensoPay\Gateway\Model\ResourceModel\Virtualterminal\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
