<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pensopay_Gateway::pensopay_menu"
             title="Pensopay V2"
             module="Pensopay_Gateway"
             sortOrder="110"
             dependsOnModule="Pensopay_Gateway"
             resource="Pensopay_Gateway::main_menu"
        />
        <add id="Pensopay_Gateway::virtualterminal_menu"
             title="Virtual Terminal"
             module="Pensopay_Gateway"
             sortOrder="10"
             resource="Pensopay_Gateway::virtualterminal"
             parent="Pensopay_Gateway::pensopay_menu"
        />
        <add id="Pensopay_Gateway::virtualterminal_item"
             title="Virtual Terminal"
             module="Pensopay_Gateway"
             sortOrder="10"
             resource="Pensopay_Gateway::virtualterminal"
             parent="Pensopay_Gateway::virtualterminal_menu"
             action="pensopaygw/virtualterminal"
        />
        <add id="Pensopay_Gateway::config_menu"
             title="Configuration"
             module="Pensopay_Gateway"
             sortOrder="20"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::pensopay_menu"
        />
        <add id="Pensopay_Gateway::configure_pensopay"
             title="&#32;&#32;&#32;"
             module="Pensopay_Gateway"
             sortOrder="10"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway"
        />
        <add id="Pensopay_Gateway::configure_mobilepay"
             title="&#32;&#32;&#32;"
             module="Pensopay_Gateway"
             sortOrder="20"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_mobilepay"
        />
        <add id="Pensopay_Gateway::configure_viabill"
             title="&#32;&#32;&#32;"
             module="Pensopay_Gateway"
             sortOrder="30"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_viabill"
        />
    </menu>
</config>
