<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pensopay_Gateway::pensopay_menu"
             title="Pensopay V2"
             module="Pensopay_Gateway"
             sortOrder="110"
             dependsOnModule="Pensopay_Gateway"
             resource="Pensopay_Gateway::main_menu"
        />
        <add id="Pensopay_Gateway::virtualterminal_menu"
             title="Virtual Terminal"
             module="Pensopay_Gateway"
             sortOrder="10"
             resource="Pensopay_Gateway::virtualterminal"
             parent="Pensopay_Gateway::pensopay_menu"
        />
        <add id="Pensopay_Gateway::virtualterminal_item"
             title="Virtual Terminal"
             module="Pensopay_Gateway"
             sortOrder="10"
             resource="Pensopay_Gateway::virtualterminal"
             parent="Pensopay_Gateway::virtualterminal_menu"
             action="pensopaygw/virtualterminal"
        />
        <add id="Pensopay_Gateway::config_menu"
             title="Configuration"
             module="Pensopay_Gateway"
             sortOrder="20"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::pensopay_menu"
        />
        <add id="Pensopay_Gateway::configure_pgw_pensopay"
             title="pensopay"
             module="Pensopay_Gateway"
             sortOrder="10"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway"
        />
        <add id="Pensopay_Gateway::configure_pgw_viabill"
             title="Viabill"
             module="Pensopay_Gateway"
             sortOrder="20"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_viabill"
        />
        <add id="Pensopay_Gateway::configure_pgw_anyday"
             title="Anyday"
             module="Pensopay_Gateway"
             sortOrder="30"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_anyday"
        />
        <add id="Pensopay_Gateway::configure_pgw_mobilepay"
             title="MobilePay"
             module="Pensopay_Gateway"
             sortOrder="40"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_mobilepay"
        />
        <add id="Pensopay_Gateway::configure_pgw_applepay"
             title="ApplePay"
             module="Pensopay_Gateway"
             sortOrder="50"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_applepay"
        />
        <add id="Pensopay_Gateway::configure_pgw_googlepay"
             title="GooglePay"
             module="Pensopay_Gateway"
             sortOrder="60"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_googlepay"
        />
        <add id="Pensopay_Gateway::configure_pgw_swish"
             title="Swish"
             module="Pensopay_Gateway"
             sortOrder="70"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_swish"
        />
<!--        <add id="Pensopay_Gateway::configure_pgw_klarna"-->
<!--             title="Klarna"-->
<!--             module="Pensopay_Gateway"-->
<!--             sortOrder="80"-->
<!--             resource="Magento_Payment::payment"-->
<!--             parent="Pensopay_Gateway::config_menu"-->
<!--             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_klarna"-->
<!--        />-->
        <add id="Pensopay_Gateway::configure_pgw_stripeklarna"
             title="Klarna"
             module="Pensopay_Gateway"
             sortOrder="90"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_stripeklarna"
        />
        <add id="Pensopay_Gateway::configure_pgw_stripeideal"
             title="iDEAL"
             module="Pensopay_Gateway"
             sortOrder="100"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_stripeideal"
        />
        <add id="Pensopay_Gateway::configure_pgw_vippspsp"
             title="Vipps PSP"
             module="Pensopay_Gateway"
             sortOrder="110"
             resource="Magento_Payment::payment"
             parent="Pensopay_Gateway::config_menu"
             action="pensopaygw/auxiliary/redirectpayment/type/payment_us_pensopay_gateway_vippspsp"
        />
    </menu>
</config>
