<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pensopay_gateway" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>pensopay Gateway</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>Pensopay\Gateway\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="private_key" translate="label" type="obscure" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Private Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="testmode" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Testmode Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="payment_methods" translate="label" type="select" sortOrder="75" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment Methods</label>
                    <comment>When using credit card, which payment methods to show in the payment window. Default: all
                        available
                    </comment>
                    <source_model>Pensopay\Gateway\Model\Config\Source\PaymentMethods</source_model>
                </field>
                <field id="payment_methods_specified" translate="label" type="text" sortOrder="76" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Specific Payment Methods</label>
                    <comment>Comma separated list of specific payment method codes to show in the payment window.
                    </comment>
                    <depends>
                        <field id="payment_methods">specified</field>
                    </depends>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="new_order_status" translate="label" type="select" sortOrder="120" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>New Order Status after Payment</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                </field>
                <field id="pending_payment_order_cancel" translate="label" type="select" sortOrder="130"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic Cancel</label>
                    <comment><![CDATA[Cancel order automatically after 24h of non-payment pass.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="autocapture" translate="label" type="select" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Autocapture</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogos" translate="label" type="multiselect" sortOrder="190" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logos</label>
                    <source_model>Pensopay\Gateway\Model\Config\Source\Cardlogos</source_model>
                </field>
                <field id="cardlogos_size" translate="label comment" type="text" sortOrder="200" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logos Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="pensopay_gateway_viabill" translate="label" type="text" sortOrder="110" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>pensopay Viabill</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="shop_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Shop ID</label>
                </field>
                <field id="show_in_product" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show in Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_in_category" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show in Category</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_in_cart" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show in Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_in_checkout" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show in Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="bundle_update_selector" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Bundle Product Event</label>
                    <comment>Bundle product view event selector, when it matches it will force a viabill refresh. Use
                        for dynamic prices, blank to disable
                    </comment>
                </field>
                <field id="configurable_update_selector" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Configurable Product Event</label>
                    <comment>Configurable product view event selector, when it matches it will force a viabill refresh.
                        Use for dynamic prices, blank to disable
                    </comment>
                </field>
                <field id="catalog_update_selector" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Catalog View Event</label>
                    <comment>Catalog view event selector, when it matches it will force a viabill refresh. Use for
                        dynamic prices, blank to disable
                    </comment>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="instructions" translate="label comment" type="text" sortOrder="110" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Instructions</label>
                    <comment><![CDATA[]]></comment>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="pensopay_gateway_anyday" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>pensopay Anyday</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="pensopay_gateway_mobilepay" translate="label" type="text" sortOrder="130" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>pensopay MobilePay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="pensopay_gateway_applepay" translate="label" type="text" sortOrder="140" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>pensopay ApplePay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="pensopay_gateway_googlepay" translate="label" type="text" sortOrder="150" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>pensopay GooglePay</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="pensopay_gateway_swish" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>pensopay Swish</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
<!--            <group id="pensopay_gateway_klarna" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1"-->
<!--                   showInStore="1">-->
<!--                <label>pensopay Klarna</label>-->
<!--                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"-->
<!--                       showInStore="1">-->
<!--                    <label>Enabled</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                </field>-->
<!--                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"-->
<!--                       showInStore="1">-->
<!--                    <label>Title</label>-->
<!--                </field>-->
<!--                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"-->
<!--                       showInWebsite="1" showInStore="1">-->
<!--                    <label>Payment From Applicable Countries</label>-->
<!--                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>-->
<!--                </field>-->
<!--                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"-->
<!--                       showInStore="1">-->
<!--                    <label>Sort Order</label>-->
<!--                    <frontend_class>validate-number</frontend_class>-->
<!--                </field>-->
<!--                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"-->
<!--                       showInWebsite="1" showInStore="1">-->
<!--                    <label>Payment From Specific Countries</label>-->
<!--                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>-->
<!--                </field>-->
<!--                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"-->
<!--                       showInWebsite="1" showInStore="1">-->
<!--                    <label>Enable CardLogo</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                </field>-->
<!--                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"-->
<!--                       showInWebsite="1" showInStore="1">-->
<!--                    <label>Card Logo Size</label>-->
<!--                    <comment><![CDATA[The max pixel height (without the px)]]></comment>-->
<!--                    <validate>validate-number validate-zero-or-greater</validate>-->
<!--                </field>-->
<!--            </group>-->
            <group id="pensopay_gateway_stripeklarna" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>pensopay Klarna</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="pensopay_gateway_stripeideal" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>pensopay iDEAL</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <group id="pensopay_gateway_vippspsp" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>pensopay Vipps PSP</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cardlogo_enable" translate="label" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable CardLogo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cardlogo_size" translate="label comment" type="text" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Card Logo Size</label>
                    <comment><![CDATA[The max pixel height (without the px)]]></comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
    </system>
</config>
